# requirements for project satellite-crops
# python 3.12.3

# data exploration
jupyterlab==4.2.0 #contains: requests, beautifulsoup4==4.12.3, boto3==1.34.113
notebook==6.4.12 #contains: s3path, scikit-learn, scipy, pandas==2.2.2, numpy==1.26.4, plotly==5.22.0, openpyxl, matplotlib==3.9.0

# data visualization
plotly==5.22.0
matplotlib==3.9.0
# xml parsing and manipulation
beautifulsoup4==4.12.3

# cloud access
cloud-sql-python-connector==1.9.2

google==3.0.0
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-cloud-vision==3.7.2
geopandas==0.14.4



# geodata manipulation
eo-learn
eo-learn[EXTRA]
eo-learn[VISUALIZATION]
geopandas
sentinelhub
# sudo apt install graphviz
